# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Env files
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.tar

# Jenkins local cache
.jenkins/
